<div class="menu-gui p-2" id="menu-gui">
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="fullscreen">
        fullscreen
    </span>
</div>
<div id="brickctrl" class="brickctrl border rounded p-2 m-1 bg-white">
    <div class="row">
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="rect">
                    crop_square
            </span>
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="rounded_corner">
                rounded_corner
            </span>
        </div>
        <div class="col p-2 text-center handcursor" id="x_value">
            x
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="x_up">
                expand_less
            </span>
            <span class="material-symbols-outlined" id="x_down">
                expand_more
            </span>
        </div>
        <div class="col p-2 text-center handcursor" id="y_value">
            y
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="y_up">
                expand_less
            </span>
            <span class="material-symbols-outlined" id="y_down">
                expand_more
            </span>
        </div>
        <div class="col p-2 text-center handcursor" id="z_value">
            z
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="z_up">
                expand_less
            </span>
            <span class="material-symbols-outlined" id="z_down">
                expand_more
            </span>
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="y_rotation">
                360
            </span>
            <span class="material-symbols-outlined" id="x_rotation">
                refresh
            </span>
        </div>
        <div class="col text-center handcursor color-picker">
            <input type="text" id="myPicker" name="myPicker" data-function="color-picker"
            data-format="hex" data-color-presets='{"hue": 0, "hueSteps":12, "lightSteps":10, "saturation":85}' autocomplete="off" spellcehck="false"
            class="color-preview btn-appearance" value="#ffffff">
        </div>
    </div>
</div>
<div id="editmenu">
    <div class="container border rounded p-2 m-1 bg-white">
        <div class="row">
            <div class="col p-2 text-center handcursor" id="save">
                <span class="material-symbols-outlined">
                    save
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="material-symbols-outlined" id="locatmode">
                    location_on
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor first-menu">
                <span class="material-symbols-outlined" id="avatarmode">
                    settings_accessibility
                </span>
                <div class="second-menu" id="avatar-second">
                    <div class="container border rounded p-2 m-1 bg-white">
                        <div class="row">
                            <div class="col p-2" id="change-male">
                                <span class="material-symbols-outlined">
                                    face
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2" id="change-female">
                                <span class="material-symbols-outlined">
                                    face_3
                                </span>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor first-menu">
                <span class="material-symbols-outlined" id="funituremode">
                    home_and_garden
                </span>
                <div class="second-menu" id="funiture-second">
                    <div class="container border rounded p-2 m-1 bg-white">
                        <div class="row">
                            <div class="col p-2" id="gate">
                                <span class="material-symbols-outlined">
                                    gate
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2" id="apart">
                                <span class="material-symbols-outlined">
                                    apartment
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2" id="eraser">
                                <span class="material-symbols-outlined">
                                    ink_eraser
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2" id="tree">
                                <span class="material-symbols-outlined">
                                    park
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2" id="chair">
                                <span class="material-symbols-outlined">
                                    chair
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2" id="reset-brick">
                                <span class="material-symbols-outlined">
                                    restart_alt
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="material-symbols-outlined" id="brickmode">
                    crop_square
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor" id="weaponmode">
                <span class="material-symbols-outlined">
                    bomb
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="_tooltip-wrap" style="width:100%;">
                    <span style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="material-symbols-outlined">
                            help
                        </span>
                    </span>
                    <div class="_tooltip-left" style="top:-20px;left:50px;width:220px;">
                        각 아이콘별 설명을<br>확인해보세요~!
                    </div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor" id="exit">
                <span class="material-symbols-outlined">
                    door_open
                </span>
            </div>
        </div>
    </div>
</div>
<div id="invenContent" class="inven rounded p-2 m-1">
    <div class="row">
        <div class="col">
            <ul class="nav nav-underline" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-white" id="pills-inventory-tab" data-bs-toggle="pill" data-bs-target="#inventory"
                        type="button" role="tab" aria-controls="inventory" aria-selected="false">Invertory</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-white" id="pills-talent-tab" data-bs-toggle="pill" data-bs-target="#talent"
                        type="button" role="tab" aria-controls="talent" aria-selected="true">Skill</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mt-0">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="pills-inventory-tab"
                    tabindex="0">
                    <!--Invertory START-->
                    <div class="container m-1" id="invenslots">
                        <!--Item Info Start-->
                        <div id="item_info" class="item_info border rounded text-white p-1" 
                            style="width: 200px;">
                        </div>
                        <!--Item Info End-->
                        <div class="row">
                            <div class="col-auto p-1 text-white"> Head</div>
                            <div class="col p-1">
                                <div class="rounded inven_slot p-1" id="headslot"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto p-1 text-white"> Hands</div>
                            <div class="col-auto p-1">
                                <div class="rounded inven_slot p-1" id="r_handslot"></div>
                            </div>
                            <div class="col p-1">
                                <div class="rounded inven_slot p-1" id="l_handslot"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-white ps-0">Bag</div>
                        </div>
                    </div>  
                    <!--Invertory END-->
                </div>
                <div class="tab-pane fade show p-0" id="talent" role="tabpanel" aria-labelledby="pills-talent-tab"
                    tabindex="0">
                    <!--Telant START-->
                    <div class="container m-1 pt-3">
                        <!--Telant Info Start-->
                        <div id="skill_info" class="item_info border rounded text-white p-1" 
                            style="width: 200px;">
                        </div>
                        <!--Telant Info End-->
                        <div class="row pb-1">
                            <div class="col text-center">
                                <span class="material-symbols-outlined text-white align-middle">
                                        circle
                                </span>
                            </div>
                            <div class="col text-center">
                                <span class="material-symbols-outlined text-white align-middle">
                                        square
                                </span>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col text-center">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="circleBtn"> </div>
                            </div>
                            <div class="col text-center">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="squareBtn"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="warrior_1">
                                    <img src="assets/icons/skill2/UI_Skill_Icon_Dash.png" class="img-fluid opacity-50">
                                    <span class="position-absolute top-50 start-50 translate-middle material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    id="warrior_1point">
                                        0
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="archer_1">
                                    <img src="assets/icons/skill2/UI_Skill_Icon_Arrow_Barrage.png" class="img-fluid">
                                    <span class="position-absolute top-50 start-50 translate-middle material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    id="archer_1point">
                                        0
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="wizard_1">
                                    <img src="assets/icons/skill2/UI_Skill_Icon_Beam.png" class="img-fluid opacity-50">
                                    <span class="position-absolute top-50 start-50 translate-middle material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    id="wizard_1point">
                                        0
                                    </span>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col line"></div>
                            <div class="col line"></div>
                            <div class="col line"></div>
                        </div> 
                        <div class="row">
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col line"></div>
                            <div class="col line"></div>
                            <div class="col line"></div>
                        </div> 
                        <div class="row">
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Telant END-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="invenBtn" class="invenBtn">
    <div class="joypad_inven select-disable pt-1">
        <span style="font-size:xxx-large;opacity: 0.7;" class="material-symbols-outlined" id="invenBtn">
            category
        </span>
    </div>
</div>
<div id="plantctrl" class="plantctrl border rounded p-2 m-1">
    <div class="row">
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                circle
            </span>
        </div>
        <div class="col p-2">
            행동하기<br>(심기, 수확하기)
        </div>
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                square
            </span>
        </div>
        <div class="col p-2">
            물주기
        </div>
    </div>
    <div class="row handcursor" id="plantslot0">
        <div class="col-auto ms-1 me-0 pb-1">
            <div class="rounded inven_slot p-1">
                <img src="assets/icons/Food/Apple.png">
            </div>
        </div>
        <div class="col p-1"> 사과나무를 심습니다.</div>
    </div>
    <div class="row handcursor" id="plantslot1">
        <div class="col-auto ms-1 me-0 pb-1">
            <div class="rounded inven_slot p-1"></div>
        </div>
        <div class="col p-1">
            당근을 심습니다.
        </div>
    </div>
</div>
<div id="furniturectrl" class="plantctrl border rounded p-2 m-1">
    <div class="row">
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                circle
            </span>
        </div>
        <div class="col p-2">
            행동하기<br>(만들기)
        </div>
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                square
            </span>
        </div>
        <div class="col p-2">
            이용하기
        </div>
    </div>
    <div class="row handcursor" id="furnslot0">
        <div class="col-auto ms-1 me-0 pb-1">
            <div class="rounded inven_slot p-1">
                <img src="assets/icons/Misc/Crate.png">
            </div>
        </div>
        <div class="col p-1"> 침대를 만듭니다.<br>가죽: 20, 나무: 5</div>
    </div>
    <div class="row handcursor" id="furnslot1">
        <div class="col-auto ms-1 me-0 pb-1">
            <div class="rounded inven_slot p-1">
                <img src="assets/icons/Misc/Crate.png">
            </div>
        </div>
        <div class="col p-1"> 작업대를 만듭니다.<br>나무: 5</div>
    </div>
</div>