<div id="editmenu">
    <div class="container border rounded p-2 m-1 bg-white" id="wrapper-profile">
        <div class="row">
            <div class="col p-2 text-center handcursor" id="save">
                <span class="material-symbols-outlined">
                    save
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="material-symbols-outlined" id="locatmode">
                    location_on
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor first-menu">
                <span class="material-symbols-outlined" id="avatarmode">
                    settings_accessibility
                </span>
                <div class="second-menu" id="avatar-second">
                    <div class="container border rounded p-2 m-1 bg-white">
                        <div class="row">
                            <div class="col p-2">
                                <span class="material-symbols-outlined">
                                    face
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col p-2">
                                <span class="material-symbols-outlined">
                                    face_3
                                </span>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="material-symbols-outlined" id="brickmode">
                    crop_square
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="material-symbols-outlined" id="funituremode">
                    chair
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor" id="weaponmode">
                <span class="material-symbols-outlined">
                    bomb
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="_tooltip-wrap" style="width:100%;">
                    <span style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <span class="material-symbols-outlined">
                            help
                        </span>
                    </span>
                    <div class="_tooltip-left" style="top:-20px;left:50px;width:220px;">
                        각 아이콘별 설명을<br>확인해보세요~!
                    </div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor" id="exit">
                <span class="material-symbols-outlined">
                    door_open
                </span>
            </div>
        </div>
    </div>
</div>