<div id="editmenu">
    <div class="container border rounded p-2 m-1 bg-white" id="wrapper-profile">
        <div class="row">
            <div class="col p-2 text-center handcursor" id="save">
                <span class="material-symbols-outlined">
                    save
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor" id="brickmode">
                <span class="material-symbols-outlined">
                    crop_square
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center">
                <span class="material-symbols-outlined">
                    chair
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center">
                <span class="material-symbols-outlined">
                    location_on
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center">
                <span class="material-symbols-outlined">
                    bomb
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2 text-center handcursor" id="exit">
                <span class="material-symbols-outlined">
                    door_open
                </span>
            </div>
        </div>
    </div>
</div>