<div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Image</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <label for="formFile" class="form-label">Original Image</label>
                <input class="form-control" type="file" id="origin-file">
            </div>
        </div>
        <div class="row mb-1">
            <div class="col text-center">
                <img src="static/img/ghost_background_black.png" class="img-fluid" id="cropimg">

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button class="btn btn-outline-primary btn-block" data-bs-dismiss="modal" type="button" id="cropBtn">
        Crop Image</button>

</div>