<div id="gamectrl" class="brickctrl border rounded p-2 m-1 w-75">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="container" id="decklist">
            </div>
        </div>
        <div class="col" id="deckprofile">
        </div>
    </div>
</div>
<div id="cardlocation" class="brickctrl border rounded p-2 m-1 w-75">
    <div class="row ms-1 me-1">
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                circle
            </span>
        </div>
        <div class="col p-2 text-start">
            위치 선정하기
        </div>
        <div class="col p-2 text-end handcursor">
            <span class="material-symbols-outlined" id="cardlocationexit">
                disabled_by_default
            </span>
        </div>
    </div>
</div>
