<div class="card">
    <div class="card-header font-weight-bold"> AI 필터 </div>
    <div class="card-body p-2">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 mb-3">
            <div class="col mb-1">
                <span class="_tooltip-wrap">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown">
                        Animation Style
                    </button>
                    <ul class="dropdown-menu" id="modellist">
                        <li><a class="dropdown-item" id="toonyou">Animation Style</a></li>
                        <li><a class="dropdown-item" id="disney">Disney Style</a></li>
                        <li><a class="dropdown-item" id="child">Real-Picture Style</a></li>
                    </ul>
                </div>
                <div class="_tooltip" style="top:-54px;left:34px;width:219px;">AI 필터 스타일을 선택하고</div>
                </span>
            </div>
            <div class="col mb-1">
                <!-- Button trigger modal -->
                <span class="_tooltip-wrap" style="width:100%;">
                    <button type="button" class="btn btn-primary" style="width:100%;" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        이미지 불러오기
                    </button>
                    <div class="_tooltip-down" style="top:50px;left:5px;width:217px;">저장된 사진을 선택하세요!</div>
                </span>
            </div>
            <div class="col">
                    <button class="btn btn-outline-primary" style="width:100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        고급 설정
                    </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="collapse" id="collapseExample">
                    <div class="container p-0 ">
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Prompt</span>
                                </div>
                                <input type="text" id="fprompt" class="form-control" aria-describedby="basic-addon3"
                                    value="masterpiece, high quality">
                            </div>
                        </div>
                        <div class="row mb-3 ms-1">
                            <small id="prompthelp" class="form-text text-muted">사진을 묘사하면 더욱 더 정확해집니다.</small>
                        </div>
                        <div class="row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Negative Prompt</span>
                                </div>
                                <input type="text" id="fnprompt" class="form-control" aria-describedby="basic-addon3">
                            </div>
                        </div>
                        <div class="row mb-3 ms-1">
                            <small id="nprompthelp" class="form-text text-muted">recommand: low quality, worst
                                quality</small>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2 mb-3">
                            <div class="col">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span id="basic-addon3">AI Filter 강도</span>
                                        </div>
                                        <div class="col">
                                            <input type="text" id="strength-text" class="form-control"
                                                aria-describedby="basic-addon3" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="range" id="strength" class="form-range" step="0.1" min="0.2"
                                                max="0.7">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <small class="form-text text-muted">높을 수록 다른 사진이 됩니다.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Seed</span>
                                    </div>
                                    <input type="text" id="seed" class="form-control"
                                        aria-describedby="basic-addon3"><br>
                                    <small class="form-text text-muted">값이 동일하면 같은 결과가 나옵니다.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col text-center" id="result">
                <img src="static/img/comp1.jpg" class="img-fluid rounded">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <span class="_tooltip-wrap" style="width:100%;">
                <button class="btn btn-outline-primary btn-block" style="width: 100%;height:100%;" type="button"
                    id="processBtn">
                    AI Image Processing</button>
                    <div class="_tooltip-down" style="top:50px;left:10px;width:230px;">클릭하면 변환을 시작합니다.</div>
                </span>
            </div>
        </div>

        <!--
                    <div class="row mb-3">
                        <div class="col">
                            <label for="step" class="form-label" id="stepvalue">Step</label>
                            <input type="range" id="step" class="form-range" step="2" min="2" max="40">
                        </div>
                    </div>
                    -->
    </div>
</div>
