<br>
<div class="container container-hons container-detail">
    <div class="row">
        <div class="col">

<div class="container container-hons p-0 border rounded h-100 bg-white">
    <div class="row ps-3 pe-3 pt-2">
        <div class="col">
            <a href="javascript:history.back();">
                <span class="material-symbols-outlined"> arrow_back </span>
            </a>
        </div>
    </div>
    <div class="row ps-0 pe-0 ms-0 me-0">
        <div class="col ps-0 pe-0 ms-0 me-0" id="feed">
        </div>
    </div>
    <div class="row ps-0 pe-0 ms-0 me-0">
        <div class="col ps-0 pe-0 ms-0 me-0 text-center" id="replyform">
            <div class="container">
                <div class="row my-2">
                    <div class="col-auto text-center">
                        <a href="javascript:void(0)" onclick="ClickLoadPage('hondetail', false, '&email=${email}')">
                            <span id="userId" class="m-1"></span>
                        </a>
                    </div>
                    <div class="col m-0 p-0">
                        <textarea type="text" class="form-control" rows="1" id="inputContent"></textarea>
                    </div>
                    <div class="col-auto">
                        <button type="submit" id="replyBtn" class="btn btn-primary">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ps-0 pe-0 ms-0 me-0">
        <div class="col ps-0 pe-0 ms-0 me-0" id="reply">
        </div>
    </div>
    <div class="row ps-0 pe-0 ms-0 me-0 pb-2">
        <div class="col ps-0 pe-0 ms-0 me-0 text-center" id="information">
            <div class="spinner-grow text-primary text-cetner" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
    </div>
</div>

    </div>
</div>
</div>