<div class="container container-hons container-detail" id="wrapper-profile">
    <div class="row">
        <div class="col">
            <style>
                .bg-profile {
                    /*background-image: url("{{mainImgUrl}}");*/
                }
            </style>
            <a class="twPc-bg twPc-block bg-profile" id="avatar-space"></a>
            <div class="twPc-div">
                <!--<style>
                    .bg-profile {
                        /*background-image: url("{{mainImgUrl}}");*/
                    }
                </style>
                <a class="twPc-bg twPc-block bg-profile"></a>
            -->
                <div>
                    <div class="twPc-button">
                        <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->

                        <span class="_tooltip-wrap">
                        <button type="button" class="btn btn-secondary btn-sm" id="playBtn">Visit</button>
                        <div class="_tooltip" 
                            style="top:-77px;left:-60px;width:148px;">이곳에 방문할 수 있어요</div>
                        </span>
                        <button type="button" class="btn btn-primary btn-sm" id="followBtn">팔로우</button>
                    </div>

                    <a href="#" onclick="ClickLoadPage('profile', false)" class="twPc-avatarLink" id="bg-profile">
                        <img alt="{{userInfo.GhostNickname}}" src="static/img/ghost_background_black.png"
                            class="twPc-avatarImg">
                    </a>

                    <div class="twPc-divUser">
                        <div class="container">
                            <div class="row pt-1">
                                <div class="col">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="twPc-divName cols p-0" id="nickname"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <span id="email"> </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a class="handcursor" onclick='ClickLoadPage("newhon", false)'>
                                                    <span class="material-symbols-outlined">
                                                        edit_square
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end pe-0">
                                    <span class="popmenu-wrap handcursor">
                                        <span class="_tooltip-wrap" style="width:100%;">
                                            <span id="menuBtn" class="material-symbols-outlined select-disable">
                                                more_vert
                                            </span>
                                            <div id="popmenu" class="popmenu border rounded bg-white text-start"
                                                style="top:25px;right:0px;width: 170px;">
                                                <a class="handcursor" id="edithome">
                                                    <span class="material-symbols-outlined">
                                                        real_estate_agent
                                                    </span>
                                                    내 공간 꾸미기
                                                </a><br>
                                                <a href="#" onclick="ClickLoadPage('profile', false)">
                                                    <span class="material-symbols-outlined">
                                                        person_edit
                                                    </span>
                                                    프로필 사진 변경
                                                </a><br>
                                                <a href="#" id="pop_logout">
                                                    <span class="material-symbols-outlined">
                                                        logout
                                                    </span>
                                                    로그아웃
                                                </a>
                                            </div>
                                            <div class="_tooltip-down" style="top:40px;left:-75px;width:150px;">
                                                내 공간을 꾸미고 프로필 사진도 변경해보세요!
                                            </div>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="twPc-divStats">
                        <ul class="twPc-Arrange">
                            <!--
                            <li class="twPc-ArrangeSizeFit">
                                <a href="#" title="9.840 Tweet">
                                    <span class="twPc-StatValue">4</span>
                                    <span class="twPc-StatLabel twPc-block">Feeds</span>
                                </a>
                            </li>
                            <li class="twPc-ArrangeSizeFit">
                                <a href="#" title="885 Following">
                                    <span class="twPc-StatValue">7</span>
                                    <span class="twPc-StatLabel twPc-block">NFT</span>
                                </a>
                            </li>
                            <li class="twPc-ArrangeSizeFit">
                                <a href="#" title="1.810 Followers">
                                    <span class="twPc-StatValue">7</span>
                                    <span class="twPc-StatLabel twPc-block">NFT Market</span>
                                </a>
                            </li>
                            <li class="twPc-ArrangeSizeFit">
                                <a href="#" onclick="ClickLoadPage('uploadhon', false)">
                                +
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pb-1"><br>
            <div class="twPc-div pb-2">
                <div class="row">
                    <div class="col pb-1">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#feeds" type="button" role="tab" aria-controls="feeds"
                                    aria-selected="true">Feeds</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-follow-tab" data-bs-toggle="pill"
                                    data-bs-target="#followerlist" type="button" role="tab" aria-controls="followerlist"
                                    aria-selected="false">Follower</button>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="row border-start border-end border-bottom m-0 p-0">
                    <div class="col p-0">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active p-0" id="feeds" role="tabpanel"
                                aria-labelledby="pills-home-tab" tabindex="0"></div>
                            <div class="tab-pane fade show" id="followerlist" role="tabpanel"
                                aria-labelledby="pills-follow-tab" tabindex="0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br><br>
        </div>
    </div>
</div>
