
<div class="container container-hons container-detail" id="wrapper-profile">
    <div class="row">
        <div class="col">
            <style>
                .bg-profile {
                    /*background-image: url("{{mainImgUrl}}");*/
                }
            </style>
            <a class="twPc-bg twPc-block bg-profile" id="avatar-space"></a>
            <div class="twPc-div">
                <!--<style>
                    .bg-profile {
                        /*background-image: url("{{mainImgUrl}}");*/
                    }
                </style>
                <a class="twPc-bg twPc-block bg-profile"></a>
            -->
                <div>
                    <div class="twPc-button">
                        <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
                        <button type="button" class="btn btn-primary btn-sm" id="playBtn">살펴보기</button>
                    </div>

                    <div class="twPc-divUser ps-2">
                        <span class="twPc-divName" style="color: #007bff;" id="tagtitle"> </span>
                        <span class="_tooltip-wrap">
                            <a class="handcursor" onclick='ClickLoadPage("newhon", false)' id="newfeed">
                                <span class="material-symbols-outlined">
                                    edit_square
                                </span>
                            </a>
                            <div class="_tooltip" 
                            style="top:-55px;left:-90px;width:202px;">AI 이미지를 만들어봐요!!</div>
                        </span><br>
                        <span id="connect"> </span>
                    </div>

                    <div class="twPc-divStats">
                        <ul class="twPc-Arrange">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pb-1"><br>
            <div class="twPc-div pt-2 pb-2">
                <div class="row m-0 p-0">
                    <div class="col p-0" id="feeds">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center" id="loading">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center p-2">
                        <span class="material-symbols-outlined handcursor" id="reload">
                            refresh
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <br><br>
        </div>
    </div>
</div>
