<div class="container my-3">
    <div class="row division-line">
        <div class="col">
            <h4>Hons</h4>
        </div>
        <div class="col" id="sessioninfo">
            <a href="javascript:void(0)" onclick="ClickLoadPage('signin', false)">Sign In
            </a> / <a href="javascript:void(0)" onclick="ClickLoadPage('signup', false)">Sign Up</a>
        </div>
        <div class="col text-right align-text-bottom">
            <a class="handcursor" onclick='ClickLoadPage("newhon", false)'>
                +
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col" id="feeds">
        </div>
    </div>
</div>