<div class="container container-hons py-3 ps-0 pe-0 border-start border-end h-100">
    <div class="row ps-3 pe-3">
        <div class="col" id="connect">
        </div>
        <div class="col text-end">
            <a class="handcursor" onclick='ClickLoadPage("newhon", false)'>
                +
            </a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
        </div>
    </div>
    <div class="row ps-0 pe-0 ms-0 me-0">
        <div class="col ps-0 pe-0 ms-0 me-0" id="feeds">
        </div>
    </div>
    <div class="row text-center border-top ps-0 pe-0 ms-0 me-0 pt-2">
        <span class="material-symbols-outlined">
            refresh
        </span>
    </div>
    </div>