<div class="citytitle gametext" id="citybigtitle"> </div>
<div class="container container-hons container-detail" id="wrapper-profile">
    <div class="row ps-3 pe-3">
        <div class="col" id="view-space">
        </div>
    </div>
    <div class="row ps-3 pe-3">
        <div class="col" id="connect">
        </div>
    </div>
    <div class="row pb-4">
        <div class="col text-center">
            <button type="button" class="btn btn-primary w-100" onclick="ClickLoadPage('signin', false)">
                로그인</button>
        </div>
        <div class="col text-center">
            <button type="button" class="btn btn-dark w-100" onclick="ClickLoadPage('signup', false)">
                가입하기</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container bg-white rounded p-2 ps-4 pe-4">
                <div class="row pb-4">
                    <div class="col">
                        <span style="font-size: 20px;"><b>환영합니다.</b></span><br>
                        자신만의 케릭터를 만들고 멀티버스 세계속 공간을 꾸며보세요
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col">
                        <span style="font-size: 20px;"><b>뜨고 있는 도시</b></span><br>
                        도시를 만들어 유저를 유치할 수 있습니다. 맘에 맞는 유저와 함께 도시를 건설하세요.
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col text-center">
                        <button type="button" class="btn btn-info" onclick="ClickLoadPage('citymain', false)">태초의 마을
                            구경하기</button>
                    </div>
                </div>
                <div class="row pb-4 me-2">
                    <div class="col" id="userlist">
                    </div>
                </div>
                <div class="row pb-2 text-center">
                    <div class="col text-center">
                        <div class="spinner-grow text-primary" role="status" id="loadspinner">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col">
                        <span style="font-size: 20px;"><b>Taglist</b></span><br>
                        작성한 글은 tag를 붙여 모아볼 수 있습니다. 같은 tag를 작성한 사람들과 마을을 만들어 줍니다.
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col m-0" id="taglist">
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col">
                        <span style="font-size: 20px;"><b>Tutorial</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="p-0 pb-3 m-0 main-view tab-content" id="tutorial"> </div>

                        <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item dropdown" role="presentation">
                                <button class="nav-link active dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    data-bs-target="#sns" aria-controls="sns" aria-expanded="false" role="tab"
                                    aria-selected="true">SNS</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item active" id="pills-sns-tab" data-bs-toggle="pill"
                                            data-bs-target="#sns" aria-controls="sns" aria-selected="true">SNS</a></li>
                                    <li><a class="dropdown-item" id="pills-ai-tab" data-bs-toggle="pill"
                                            data-bs-target="#ai" aria-controls="ai" aria-selected="false">AI 사진만들기</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown" role="presentation">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" type="button"
                                    role="tab" aria-selected="false">집,동식물 꾸미기</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="pills-interior-tab" data-bs-toggle="pill"
                                            data-bs-target="#interior" aria-controls="interior"
                                            aria-selected="false">인테리어</a></li>
                                    <li><a class="dropdown-item" id="pills-plant-tab" data-bs-toggle="pill"
                                            data-bs-target="#plant" aria-controls="plant" aria-selected="false">농사짓기</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown" role="presentation">
                                <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" type="button"
                                    role="tab" aria-expaned="false" aria-selected="false">메타버스 게임 플레이</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="pills-game-tab" data-bs-toggle="pill"
                                            data-bs-target="#game" aria-controls="game" aria-selected="false">전투 시스템</a>
                                    </li>
                                    <li><a class="dropdown-item" id="pills-deck-tab" data-bs-toggle="pill"
                                            data-bs-target="#deck" aria-controls="deck" aria-selected="false">덱시스템</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="row p-3">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" 
                        onclick="ClickLoadPage('signin', false)">Sign-In</button>
            <button type="button" class="btn btn-secondary" 
                        onclick="ClickLoadPage('signup', false)">Sign-Up</button>
        </div>
    </div>-->
</div>