<div class="container py-3 ps-0 pe-0 h-100">
    <div class="row ps-3 pe-3">
        <div class="col" id="connect">
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 ps-0 pe-0 ms-0 me-0">
        <div class="col ps-0 pe-0 ms-0 me-0 main-view">
            <div class="p-0 m-0 main-img">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1500">
                            <img src="static/img/main.jpg" class="img-fluid rounded handcursor" onclick="ClickLoadPage('hons', false)">
                        </div>
                        <div class="carousel-item" data-bs-interval="1500">
                            <img src="static/img/main2.jpg" class="img-fluid rounded handcursor" onclick="ClickLoadPage('hons', false)">
                            <div class="carousel-caption d-none d-md-block" style="text-shadow: 1px 1px #000;">
                                <h5><b>Anime Style</b></h5>
                                <p>Expression of various pictures using animation-style models.</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="1500">
                            <img src="static/img/main3.jpg" class="img-fluid rounded handcursor" onclick="ClickLoadPage('hons', false)">
                            <div class="carousel-caption d-none d-md-block" style="text-shadow: 1px 1px #000;">
                                <h5><b>Anime Style</b></h5>
                                <p>Expression of various pictures using animation-style models.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="m-2 main-text">
                <b>Generative AI + <br>Metaverse<br>SNS</b>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col m-2" id="taglist">
                        <span class='badge bg-primary handcursor select-disable' onclick="ClickLoadPage('hons', false)">#최신글</span>
                        <span class='badge bg-info handcursor select-disable' onclick="ClickLoadPage('hons', false)">#체험하기</span>
                    </div>
                </div>
                <div class="row m-1" id="userlist">
                    <span style="font-size: 20px;"><b>New Members</b></span>
                </div>
                <div class="row text-center">
                    <div class="col text-center">
                    <div class="spinner-grow text-primary" role="status" id="loadspinner">
                        <span class="visually-hidden"></span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col text-center">
            <button type="button" class="btn btn-primary" 
                        onclick="ClickLoadPage('signin', false)">Sign-In</button>
            <button type="button" class="btn btn-secondary" 
                        onclick="ClickLoadPage('signup', false)">Sign-Up</button>
        </div>
    </div>
</div>