<div class="container my-3">
    <div class="row">
        <div class="col">
            <b>New Hon</b>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container my-3">
                <!--
                <div class="row">
                    <div class="col text-center">
                        Hons는 GhostWebService의 활용 예제로 만들어진 SNS입니다.<br>
                        '<b id="txLink"></b>'<br>GhostWebService의 gLambda에서 실행됩니다.
                        <br><br>
                    </div>
                </div>
                -->
                <div class="row">
                    <div class="col text-center">
                        <div class="form-group">
                            <textarea type="text" class="form-control" rows="3" id="inputContent"
                                aria-describedby="contentHelp"></textarea>
                            <small id="contentHelp" class="form-text text-muted">max 150.</small>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tag (only one...)</span>
                            </div>
                            <input type="text" id="thread" class="form-control" aria-describedby="basic-addon3">
                        </div>
                        <p id="information"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#sd1"
                        type="button" role="tab" aria-controls="sd1" aria-selected="true">Anime 생성</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-follow-tab" data-bs-toggle="pill" data-bs-target="#filter"
                        type="button" role="tab" aria-controls="filter" aria-selected="false">AI Filter</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mt-0 m-2">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active p-0" id="sd1" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                </div>
                <div class="tab-pane fade show" id="filter" role="tabpanel" aria-labelledby="pills-follow-tab" tabindex="0">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center">
            <button type="button" id="feedBtn" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center" id="log">
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center" id="printImg">
            <img src="static/img/ghost_background_black.png">
        </div>
    </div>
</div>
