<div id="health" class="health">
    <div class="container p-1">
        <div class="row" style="height:15px;">
            <div class="col-auto health_text gametext pe-0">HP: </div>
            <div class="col"><progress id="hp-bar" style="width:100px;" value="0" max="100"></progress></div>
        </div>
        <div class="row" style="height:15px;">
            <div class="col-auto health_text gametext pe-0">SP: </div>
            <div class="col"><progress id="special-bar" style="width:100px;" value="0" max="100"></progress></div>
        </div>
        <div class="row" style="height:15px;">
            <div class="col-auto health_text gametext pe-0">Exp: </div>
            <div class="col"><progress id="exp-bar" style="width:100px;" value="0" max="100"></progress></div>
        </div>
        <div class="row" style="height:20px;">
            <div class="col health_text gametext pe-0" id="level">Lv.1 </div>
        </div>
    </div>
</div>
<div id="levelup" class="levelup gametext rounded border">
<div class="container p-1 ps-2 pe-2" id="levelview">
        <div class="row pb-2">
            <div class="col xxx-large text-white text-center h2">Level Up!!</div>
        </div>
        <div class="row p-2">
            <div class="col-auto"><img src="assets/icons/skill2/UI_Skill_Icon_Buff.png" style="width: 45px;"></div>
            <div class="col text-white">new: 공격력이 5% 증가합니다</div>
        </div>
        <div class="row p-2">
            <div class="col-auto"><img src="assets/icons/skill2/UI_Skill_Icon_PsycicAttack.png" style="width: 45px;"></div>
            <div class="col text-white">new: 주변에 피해를 줍니다.</div>
        </div>
        <div class="row p-2">
            <div class="col-auto"><img src="assets/icons/skill2/UI_Skill_Icon_Heal.png" style="width: 45px;"></div>
            <div class="col text-white">new: 피가 차오릅니다.</div>
        </div>
    </div>
</div>
<div class="menu-gui p-2" id="menu-gui">
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="fullscreen">
        fullscreen
    </span>
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="returnSns">
        door_open
    </span>
</div>
<div id="confirmexit" class="plantctrl gametext border rounded p-3 m-1">
    <div class="row pb-2">
        <div class="col" id="exitPlayCheck">
            플레이 모드를 종료합니다. <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="exitBtn">나가기</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="cancelBtn">취소</button>
        </div>
    </div>
</div>