<div id="health" class="health">
    <div class="container p-2 ms-1">
        <div class="row text-center select-disable">
            <progress id="hp-bar" value="0" max="100"></progress>
        </div>
        <div class="row">
            <progress id="special-bar" value="0" max="100"></progress>
        </div>
        <div class="row">
            <progress id="exp-bar" value="0" max="100"></progress>
        </div>
    </div>
</div>

<div id="inven" class="inven">
    <div class="joypad_inven select-disable">
        <span style="font-size:xxx-large" class="material-symbols-outlined" id="invenBtn">
            category
        </span>
    </div>
</div>