<div id="health" class="health">
    <div class="container p-1">
        <div class="row" style="height:15px;">
            <div class="col-auto health_text pe-0">HP: </div>
            <div class="col"><progress id="hp-bar" style="width:100px;" value="0" max="100"></progress></div>
        </div>
        <div class="row" style="height:15px;">
            <div class="col-auto health_text pe-0">SP: </div>
            <div class="col"><progress id="special-bar" style="width:100px;" value="0" max="100"></progress></div>
        </div>
        <div class="row" style="height:15px;">
            <div class="col-auto health_text pe-0">Exp: </div>
            <div class="col"><progress id="exp-bar" style="width:100px;" value="0" max="100"></progress></div>
        </div>
        <div class="row" style="height:20px;">
            <div class="col health_text pe-0" id="level">Lv.1 </div>
        </div>
    </div>
</div>
<div id="levelup" class="levelup rounded">
<div class="container p-1 ps-2 pe-2">
        <div class="row pb-2">
            <div class="col xxx-large text-white text-center h2">Level Up!!</div>
        </div>
        <div class="row p-2">
            <div class="col-auto"><img src="assets/icons/skill2/UI_Skill_Icon_Buff.png" style="width: 45px;"></div>
            <div class="col text-white">new: 공격력이 5% 증가합니다</div>
        </div>
        <div class="row p-2">
            <div class="col-auto"><img src="assets/icons/skill2/UI_Skill_Icon_PsycicAttack.png" style="width: 45px;"></div>
            <div class="col text-white">new: 주변에 피해를 줍니다.</div>
        </div>
        <div class="row p-2">
            <div class="col-auto"><img src="assets/icons/skill2/UI_Skill_Icon_Heal.png" style="width: 45px;"></div>
            <div class="col text-white">new: 피가 차오릅니다.</div>
        </div>
    </div>
</div>
<div class="menu-gui p-2" id="menu-gui">
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="fullscreen">
        fullscreen
    </span>
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="returnSns">
        door_open
    </span>
</div>
<div id="invenContent" class="inven rounded p-2 m-1">
    <div class="row">
        <div class="col">
            <ul class="nav nav-underline" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-white" id="pills-inventory-tab" data-bs-toggle="pill" data-bs-target="#inventory"
                        type="button" role="tab" aria-controls="inventory" aria-selected="false">Invertory</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-white" id="pills-talent-tab" data-bs-toggle="pill" data-bs-target="#talent"
                        type="button" role="tab" aria-controls="talent" aria-selected="true">Skill</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mt-0">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="pills-inventory-tab"
                    tabindex="0">
                    <!--Invertory START-->
                    <div class="container m-1" id="invenslots">
                        <!--Item Info Start-->
                        <div id="item_info" class="item_info border rounded text-white p-1" 
                            style="width: 200px;">
                        </div>
                        <!--Item Info End-->
                        <div class="row">
                            <div class="col-auto p-1 text-white"> Head</div>
                            <div class="col p-1">
                                <div class="rounded inven_slot p-1" id="headslot"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto p-1 text-white"> Hands</div>
                            <div class="col-auto p-1">
                                <div class="rounded inven_slot p-1" id="r_handslot"></div>
                            </div>
                            <div class="col p-1">
                                <div class="rounded inven_slot p-1" id="l_handslot"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-white ps-0">Bag</div>
                        </div>
                    </div>  
                    <!--Invertory END-->
                </div>
                <div class="tab-pane fade show p-0" id="talent" role="tabpanel" aria-labelledby="pills-talent-tab"
                    tabindex="0">
                    <!--Telant START-->
                    <div class="container m-1 pt-3">
                        <!--Telant Info Start-->
                        <div id="skill_info" class="item_info border rounded text-white p-1" 
                            style="width: 200px;">
                        </div>
                        <!--Telant Info End-->
                        <div class="row pb-1">
                            <div class="col text-center">
                                <span class="material-symbols-outlined text-white align-middle">
                                        circle
                                </span>
                            </div>
                            <div class="col text-center">
                                <span class="material-symbols-outlined text-white align-middle">
                                        square
                                </span>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col text-center">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="circleBtn"> </div>
                            </div>
                            <div class="col text-center">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="squareBtn"> </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="warrior_1">
                                    <img src="assets/icons/skill2/UI_Skill_Icon_Dash.png" class="img-fluid">
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    id="warrior_1point">
                                        1
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="archer_1">
                                    <img src="assets/icons/skill2/UI_Skill_Icon_Arrow_Barrage.png" class="img-fluid">
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    id="archer_1point">
                                        1
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="popmenu-wrap rounded inven_slot p-0" id="wizard_1">
                                    <img src="assets/icons/skill2/UI_Skill_Icon_Beam.png" class="img-fluid">
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                    id="wizard_1point">
                                        1
                                    </span>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col line"></div>
                            <div class="col line"></div>
                            <div class="col line"></div>
                        </div> 
                        <div class="row">
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col line"></div>
                            <div class="col line"></div>
                            <div class="col line"></div>
                        </div> 
                        <div class="row">
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="rounded inven_slot p-1 text-center">
                                    <span class="material-symbols-outlined text-white align-middle">
                                        lock
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Telant END-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="invenBtn" class="invenBtn">
    <div class="joypad_inven select-disable pt-1">
        <span style="font-size:xxx-large;opacity: 0.7;" class="material-symbols-outlined" id="invenBtn">
            category
        </span>
    </div>
</div>