<div class="container-sm my-3">
    <div class="row division-line">
        <div class="col">
            <h4>Profile</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <br>
            Hons는 GhostWebService의 활용 예제로 만들어진 SNS입니다.<br>
            '<b id="txLink"></b>'<br>GhostWebService의 gLambda에서 실행됩니다.
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col m-2">
            <div class="card">
                <div class="card-header font-weight-bold">Profile 사진 변경 </div>
                <div class="card-body p-2">
                    <div class="row mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Prompt</span>
                            </div>
                            <input type="text" id="prompt" class="form-control"
                                aria-describedby="basic-addon3"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Negative Prompt</span>
                            </div>
                            <input type="text" id="nprompt" class="form-control"
                                aria-describedby="basic-addon3"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="step" class="form-label" id="stepvalue">Step</label>
                            <input type="range" id="step" class="form-range" step="2" min="2" max="40">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-2">
                            <button class="btn btn-outline-primary" type="button" id="generateBtn">
                                Generate Image</button>
                        </div>
                        <div class="col m-2">
                            <button class="btn btn-outline-primary" type="button" id="uploadBtn">
                                Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center" id="log">
        </div>
    </div>
    <div class="row">
        <div class="col m-2 text-center" id="printImg">
            <img src="static/img/ghost_background_black.png">
        </div>
    </div>
</div>