<div class="card">
    <div class="card-header font-weight-bold"> 그림 만들기 </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Prompt</span>
                </div>
                <input type="text" id="prompt" class="form-control" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="row mb-3 ms-1">
            <small id="prompthelp" class="form-text text-muted">recommand: high quality, masterpiece</small>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Negative Prompt</span>
                </div>
                <input type="text" id="nprompt" class="form-control" aria-describedby="basic-addon3">
            </div>
        </div>
        <div class="row mb-3 ms-1">
            <small id="nprompthelp" class="form-text text-muted">recommand: low quality, worst quality</small>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Step</span>
                    </div>
                    <input type="text" id="step" class="form-control" aria-describedby="basic-addon3" placeholder="20">
                </div>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-block" style="width: 100%;height:100%;" type="button" id="generateBtn">
                    Generate Image</button>
            </div>
        </div>
        <!--
                    <div class="row mb-3">
                        <div class="col">
                            <label for="step" class="form-label" id="stepvalue">Step</label>
                            <input type="range" id="step" class="form-range" step="2" min="2" max="40">
                        </div>
                    </div>
                    -->
    </div>
</div>