<div id="brickctrl" class="brickctrl gametext border rounded p-2 m-1 w-75">
    <div class="row">
        <div class="col p-2 text-center handcursor" id="x_value">
            x
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="x_up">
                expand_less
            </span>
            <span class="material-symbols-outlined" id="x_down">
                expand_more
            </span>
        </div>
        <div class="col p-2 text-center handcursor" id="y_value">
            y
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="y_up">
                expand_less
            </span>
            <span class="material-symbols-outlined" id="y_down">
                expand_more
            </span>
        </div>
        <div class="col p-2 text-center handcursor" id="z_value">
            z
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="z_up">
                expand_less
            </span>
            <span class="material-symbols-outlined" id="z_down">
                expand_more
            </span>
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="brickmodeexit">
                disabled_by_default
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="rect">
                    crop_square
            </span>
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="rounded_corner">
                rounded_corner
            </span>
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="y_rotation">
                360
            </span>
        </div>
        <div class="col p-2 text-center handcursor">
            <span class="material-symbols-outlined" id="x_rotation">
                refresh
            </span>
        </div>
        <div class="col text-center handcursor color-picker">
            <input type="text" id="myPicker" name="myPicker" data-function="color-picker"
            data-format="hex" data-color-presets='{"hue": 0, "hueSteps":12, "lightSteps":10, "saturation":85}' autocomplete="off" spellcehck="false"
            class="color-preview btn-appearance" value="#ffffff">
        </div>
    </div>
</div>
