@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

footer {
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    */
    width: 100%;
}
.main-view {
    position: relative;
}
.main-text {
    position: absolute;
    top:0%;
    left:0%;
    font-size: 20px;
    color: #fff;
}
.navbar {
    width: 100%;
}
#navibar {
    z-index: 3;
}
#contents {
    z-index: 2;
}
.profile-sm {
    width:40px;
    border-radius: 70%;
}
a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}
.division-line {
  border-bottom: 1px solid silver;
  margin: 0px;
}
header {
    display: flex;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}
.container-hons {
    max-width: 520px;
}
.container-detail {
    position: relative;
}
.container-honview {
    background-color: #fff !important;
}
.hon-contents {
    white-space: pre-wrap;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.select-disable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menubar {
    background-color: #2081E2 !important;
    display: flex;
    flex-basis: auto;
    margin-right:auto;
    color: #fff;
    padding-left: 0;
    margin-bottom: 0;
    align-items: center;
}
.menubar-container {
    align-items: center;
}
.menubar-logo {
    padding:0;
    margin-right: 0.5em;
}
.menubar-brand {
    color: #fff;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    align-items: center;
}
.menubar-toggler {
    border:2px;
    border-color: #fff;
    border-radius: 1em;
    padding-left: 1rem;
    font-size:1.5em;
    width: 50px;
    clear:left;
}

.menubar-container,
.menubar-brand,
.menubar-toggler,
.menubar-nav, 
.menubar-nav-right {
    flex: 0 0 auto;
}

.menubar-nav-right {
    margin-right: 1em;
    margin-left:auto;
}

.menubar-items {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    list-style-type: none;
}
.menubar-item{
    flex: 1 1 auto;
    text-align: center;
    padding-left: 1em;
}
.menubar-link a:link {
    color: inherit;
}

.input-set {
    max-width: 220px;
    padding-right:1em;
}

.input-set input {
    margin-bottom: 0;
    border-radius: 5px;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px;
    opacity: 0.7;
}

.input-set input[type=text]::placeholder {
    font-family: 'Material Icons Outlined';
    font-size: 1.5em;
    transform: translateY(5px);
}
.handcursor {
    cursor: pointer;
}
.maxtext{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
}
.flow-text:hover .flow-wrap {
    animation-play-state: paused;
    cursor: pointer;
}
.flow-text .track {
    animation: textLoop 60s linear infinite;
    padding-right: 1.4881vw;
}
@keyframes textLoop{
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.vertical-divider {
    border-right: 1px solid #ccc;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

#avatar-bg {
    display: none;
}

#progress-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

#progress-bar {
    width: 30%;
    height: 2%;
    margin-top: 4px;
}
#menu-gui {
    position: absolute;
    right: 0;
    top: 60;
    font-size: large;
}
#zone_joystick {
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#joypad {
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#joypad_buttons {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 10px;
}
.joypad_arrow {
display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: -0.125em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 auto;
}
.joypad_button {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}
.joypad_inven {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0;
    text-align: center;
}
._tooltip-wrap {
    position: relative;
    display: inline-block;
}

._tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: block;
    animation: fadeout 1s linear 3s;
    animation-fill-mode: forwards;
}

._tooltip:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	border: 10px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.5);
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

._tooltip-down {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: block;
    animation: fadeout 1s linear 3s;
    animation-fill-mode: forwards;
}

._tooltip-down:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
	border-top: 0;
	margin-left: -10px;
	margin-top: -10px;
}
._tooltip-left {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: block;
    animation: fadeout 1s linear 3s;
    animation-fill-mode: forwards;
}

._tooltip-left:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 0;
	border: 10px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.5);
	border-top: 20;
	margin-left: -20px;
	margin-top: -10px;
}
@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}


#editmenu {
    max-width: 64px;
	position: absolute;
	top: 50px;
    left: 10px;
}

.popmenu-wrap {
    position: relative;
    display: inline-block;
}

.popmenu {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.first-menu {
    position:relative;
    display: inline-block;
}

.second-menu {
    position: absolute;
    display: none;
	left: 50px;
    top:-10px
}
.alarm-msg {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 30%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.brickctrl {
    position: absolute;
    display: none;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.health {
    position: absolute;
    display: none;
    top: 10px;
    left: 10px;
}
.health_text {
    font-size: xx-small;
    color:#fff;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.inven {
    position: absolute;
    display: none;
    top: 60px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.inven_slot {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}
.invenBtn {
    position: absolute;
    display: none;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item_info {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(-100%, 0%);
}
.line {
	position: relative;
    height: 10px;
	width: 30px;
	margin: 0 auto;
	overflow: hidden;
}
.line::after {
	content: '';
	position: absolute;
    height:20px;
	width: 2px;
	background-color: #ccc;
	top: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.skillup {
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 0;
}

.levelup {
    position: absolute;
    display: none;
    width:fit-content;
    top: 60px;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, 0%);
}

.playalarm {
    position: absolute;
    display: none;
    width:fit-content;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    text-align: center;
}
.timer {
    position: absolute;
    display: none;
    width:fit-content;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}
.plantctrl {
    position: absolute;
    display: none;
    width:fit-content;
    top: 15%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    color:#fff;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}