<div id="editmenu" class="container gametext border rounded p-0 m-1">
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="save">
            <span class="material-symbols-outlined">
                save
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="camera">
            <span class="material-symbols-outlined">
                cameraswitch
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="rotatehome">
            <span class="material-symbols-outlined">
                360
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="modifyhome">
            <span class="material-symbols-outlined">
                contract_edit
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor border-bottom" id="editcity">
            <span class="material-symbols-outlined">
                home
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col p-2 text-center handcursor" id="gate">
            <span class="material-symbols-outlined">
                gate
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="brickmode">
            <span class="material-symbols-outlined">
                crop_square
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="eraser">
            <span class="material-symbols-outlined">
                ink_eraser
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor">
            <span class="_tooltip-wrap" style="width:100%;">
                <span style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span class="material-symbols-outlined">
                        help
                    </span>
                </span>
                <div class="_tooltip-left" style="top:-20px;left:50px;width:220px;">
                    각 아이콘별 설명을<br>확인해보세요~!
                </div>
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="exit">
            <span class="material-symbols-outlined">
                door_open
            </span>
        </div>
    </div>
</div>

<div id="explain" class="explain gametext border rounded p-2 m-1">
    <div class="row">
        <div class="col ms-1 me-1 handcursor" id="explaintext">
            마을 주민의 집 위치를 지정합니다.
        </div>
    </div>
</div>

<div class="menu-gui p-2" id="menu-gui">
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="fullscreen">
        fullscreen
    </span>
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="returnSns">
        door_open
    </span>
</div>
<div id="confirmexit" class="plantctrl gametext border rounded p-3 m-1">
    <div class="row pb-2">
        <div class="col" id="exitPlayCheck">
            마을 꾸미기 모드를 종료합니다. <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="exitBtn">나가기</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="cancelBtn">취소</button>
        </div>
    </div>
</div>
<div id="confirmsave" class="plantctrl gametext border rounded p-3 m-1">
    <div class="row pb-2">
        <div class="col">
            저장합니다. 이전 내용은 사라집니다.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="saveConfirmBtn">저장하기</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="saveCancelBtn">취소</button>
        </div>
    </div>
</div>
