<div class="modal-header">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Home</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row pb-1">
            <div class="col-auto pt-1 text-center handcursor">
                <span class="material-symbols-outlined">
                    save
                </span>
            </div>
            <div class="col">
                수정된 공간을 저장합니다.
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-auto pt-1 text-center handcursor" >
                <span class="material-symbols-outlined">
                    crop_square
                </span>
            </div>
            <div class="col">
                블록을 배치합니다. 자원이 충분해야합니다.
            </div>
        </div>
        <div class="row pb-1">
            <div class="col-auto pt-1 text-center handcursor">
                <span class="material-symbols-outlined">
                    door_open
                </span>
            </div>
            <div class="col">
                수정모드에서 나갑니다. 저장되지 않기 때문에 주의하셔야합니다.
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>