<div class="menu-gui p-2" id="menu-gui">
    <span style="font-size: xxx-large;" class="material-symbols-outlined font-icon select-disable" id="fullscreen">
        fullscreen
    </span>
</div>
<div id="editmenu" class="container gametext border rounded p-0 m-1">
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="save">
            <span class="material-symbols-outlined">
                save
            </span>
        </div>
    </div>
    <!--
        <div class="row">
            <div class="col p-2 text-center handcursor">
                <span class="material-symbols-outlined" id="editplaymode">
                    play_arrow
                </span>
            </div>
        </div>
    -->
    <div class="row m-0">
        <div class="col p-2 text-center handcursor first-menu" id="avatarmode">
            <span class="material-symbols-outlined">
                settings_accessibility
            </span>
            <div class="second-menu gametext container border rounded p-0 m-1" id="avatar-second">
                    <div class="row">
                        <div class="col p-2" id="change-male">
                            <span class="material-symbols-outlined">
                                face
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2" id="change-female">
                            <span class="material-symbols-outlined">
                                face_3
                            </span>

                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor first-menu">
            <span class="material-symbols-outlined" id="funituremode">
                home_and_garden
            </span>
            <div class="second-menu gametext container border rounded p-0 m-1" id="funiture-second">
                <div class="row">
                    <div class="col p-2" id="gate">
                        <span class="material-symbols-outlined">
                            gate
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2" id="apart">
                        <span class="material-symbols-outlined">
                            apartment
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2 text-center handcursor" id="brickmode">
                        <span class="material-symbols-outlined">
                            crop_square
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2" id="eraser">
                        <span class="material-symbols-outlined">
                            ink_eraser
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2" id="chair">
                        <span class="material-symbols-outlined">
                            construction
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2" id="reset-brick">
                        <span class="material-symbols-outlined">
                            restart_alt
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="weaponmode">
            <span class="material-symbols-outlined">
                cards<!--bomb-->
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor">
            <span class="_tooltip-wrap" style="width:100%;">
                <span style="width:100%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <span class="material-symbols-outlined">
                        help
                    </span>
                </span>
                <div class="_tooltip-left" style="top:-20px;left:50px;width:220px;">
                    각 아이콘별 설명을<br>확인해보세요~!
                </div>
            </span>
        </div>
    </div>
    <div class="row m-0">
        <div class="col p-2 text-center handcursor" id="exit">
            <span class="material-symbols-outlined">
                door_open
            </span>
        </div>
    </div>
</div>
<div id="plantctrl" class="plantctrl gametext border rounded p-2 m-1">
    <div class="row">
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                circle
            </span>
        </div>
        <div class="col p-2">
            심기 (수확하기)
        </div>
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                square
            </span>
        </div>
        <div class="col p-2">
            물주기
        </div>
        <div class="col p-2 handcursor" id="plantctrlexit">
            <span class="material-symbols-outlined">
                disabled_by_default
            </span>
        </div>
    </div>
</div>
<div id="furniturectrl" class="plantctrl gametext border rounded p-2 m-1 w-75">
    <div class="row">
        <div class="col-auto p-2 ms-2 text-center">
            <span class="material-symbols-outlined">
                circle
            </span>
        </div>
        <div class="col p-2 text-start">
            행동하기<br>(만들기)
        </div>
        <div class="col-auto p-2 text-center">
            <span class="material-symbols-outlined">
                square
            </span>
        </div>
        <div class="col p-2 text-start">
            이용하기
        </div>
        <div class="col-auto p-2 me-2 handcursor" id="furniturectrlexit">
            <span class="material-symbols-outlined">
                disabled_by_default
            </span>
        </div>
    </div>
</div>
<div id="confirmsave" class="plantctrl gametext border rounded p-3 m-1">
    <div class="row pb-2">
        <div class="col">
            저장합니다. 이전 내용은 사라집니다.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="saveConfirmBtn">저장하기</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="saveCancelBtn">취소</button>
        </div>
    </div>
</div>
<div id="confirmexit" class="plantctrl gametext border rounded p-3 m-1">
    <div class="row pb-2">
        <div class="col">
            꾸미기 모드를 종료합니다.<br> 나가기 전에 저장하세요.
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" id="exitBtn">나가기</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" id="cancelBtn">취소</button>
        </div>
    </div>
</div>
<div id="extension">
</div>